<ul class="max-w-md mx-auto p-6 bg-white mt-6 rounded-lg shadow-xl">
  <li
    class="flex items-center px-4 py-4 hover:bg-gray-100"
    *ngFor="let todo of todoList"
  >
    <div
      class="flex-shrink-0 w-6 h-6 rounded-full bg-teal-500 text-white text-xs font-bold align-middle"
    >
      {{ todoList.indexOf(todo) + 1 }}
    </div>
    <div class="ml-4">
      <h5 class="text-lg font-bold leading-tight text-gray-900">
        {{ todo }}
      </h5>
    </div>
    <div class="ml-auto">
      <button
        class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800"
      >
        Mark as done
      </button>
    </div>
  </li>
</ul>
