<section class="box-border relative block w-full py-6 leading-10 text-center text-indigo-900 bg-black border-b border-gray-200 md:py-8">
  <div class="w-full px-6 mx-auto leading-10 text-center md:px-8 max-w-7xl">
      <div class="box-border flex flex-wrap items-center justify-between -mx-4 text-indigo-900">
          <div class="relative flex items-center w-auto px-4 leading-10 lg:flex-grow-0 lg:flex-shrink-0 lg:text-left">
              <a href="#_" class="box-border inline-block font-sans text-2xl font-bold text-left text-white no-underline bg-transparent cursor-pointer focus:no-underline">
                  TODO
              </a>
          </div>
          <div class="left-0 z-0 flex justify-start w-full px-4 mt-2 font-medium leading-10 md:mt-0 md:justify-center md:absolute md:flex-grow-0 md:text-left lg:text-center">
              <a href="#_" class="box-border inline-block mr-4 text-center text-gray-300 no-underline bg-transparent cursor-pointer hover:text-gray-200 focus:no-underline">
                  Home
              </a>
              <a href="#_" class="box-border inline-block mr-4 text-center text-gray-300 no-underline bg-transparent cursor-pointer hover:text-gray-200 focus:no-underline">
                  Features
              </a>
              <a href="#_" class="box-border inline-block mr-4 text-center text-gray-300 no-underline bg-transparent cursor-pointer hover:text-gray-200 focus:no-underline">
                  Pricing
              </a>
              <a href="#_" class="box-border inline-block mr-4 text-center text-gray-300 no-underline bg-transparent cursor-pointer hover:text-gray-200 focus:no-underline">
                  About
              </a>
          </div>
          <div class="relative flex items-center px-4 mt-2 font-medium leading-10 md:flex-grow-0 md:flex-shrink-0 md:mt-0 md:text-right lg:flex-grow-0 lg:flex-shrink-0">
              <a href="#_" class="box-border inline-block h-10 px-4 mr-3 text-right text-gray-200 no-underline bg-gray-800 rounded-lg cursor-pointer md:mr-0 md:bg-transparent hover:text-white focus:no-underline">
                  Login
              </a>
              <a href="#_" class="box-border inline-flex items-center h-10 px-4 text-base text-center text-gray-100 no-underline align-middle bg-gray-800 rounded-lg cursor-pointer select-none hover:bg-gray-50 hover:text-gray-900 focus:shadow-xs focus:no-underline">
                  Sign Up
              </a>
          </div>
      </div>
  </div>
</section>

    <div class="max-w-md mx-auto flex-col p-6 bg-gray-100 mt-10 rounded-lg shadow-xl">
      <div class="ml-6 pt-1">
        <h4 class="text-xl text-gray-900 leading-tight">My Todo List</h4>
        <p class="text-base text-gray-600 leading-normal">A list of things I need to do today:</p>
      </div>
      <form action="" class="flex mt-8">
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Add a new todo item...">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Add
        </button>
      </form>
    </div>
    <ul class="max-w-md mx-auto p-6 bg-white mt-6 rounded-lg shadow-xl">
      <li class="flex items-center px-4 py-4 hover:bg-gray-100">
        <div class="flex-shrink-0 w-6 h-6 rounded-full bg-teal-500 text-white text-xs font-bold align-middle">1</div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight text-gray-900">Take out the trash</h5>
        </div>
        <div class="ml-auto">
          <button class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800">
            Mark as done
          </button>
        </div>
      </li>
      <li class="flex items-center px-4 py-4 hover:bg-gray-100">
        <div class="flex-shrink-0 w-6 h-6 grid center rounded-full bg-teal-500 text-white text-xs font-bold align-middle">2</div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight text-gray-900">Do the dishes</h5>
        </div>
        <div class="ml-auto">
          <button class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800">
            Mark as done
          </button>
        </div>
      </li>
      <li class="flex items-center px-4 py-4 hover:bg-gray-100">
        <div class="flex-shrink-0 w-6 h-6 rounded-full bg-teal-500 text-white text-xs font-bold align-middle">3</div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight text-gray-900">Buy groceries</h5>
        </div>
        <div class="ml-auto">
          <button class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800">
            Mark as done
          </button>
        </div>
      </li>
    </ul>

