
    <div class="max-w-md mx-auto flex-col p-6 bg-gray-100 mt-10 rounded-lg shadow-xl">
      <div class="ml-6 pt-1">
        <h4 class="text-xl text-gray-900 leading-tight">My Todo List</h4>
        <p class="text-base text-gray-600 leading-normal">A list of things I need to do today:</p>
      </div>
      <form action="" class="flex mt-8">
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Add a new todo item...">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Add
        </button>
      </form>
    </div>
    <ul class="max-w-md mx-auto p-6 bg-white mt-6 rounded-lg shadow-xl">
      <li class="flex items-center px-4 py-4 hover:bg-gray-100">
        <div class="flex-shrink-0 w-6 h-6 rounded-full bg-teal-500 text-white text-xs font-bold align-middle">1</div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight text-gray-900">Take out the trash</h5>
        </div>
        <div class="ml-auto">
          <button class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800">
            Mark as done
          </button>
        </div>
      </li>
      <li class="flex items-center px-4 py-4 hover:bg-gray-100">
        <div class="flex-shrink-0 w-6 h-6 rounded-full bg-teal-500 text-white text-xs font-bold align-middle">2</div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight text-gray-900">Do the dishes</h5>
        </div>
        <div class="ml-auto">
          <button class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800">
            Mark as done
          </button>
        </div>
      </li>
      <li class="flex items-center px-4 py-4 hover:bg-gray-100">
        <div class="flex-shrink-0 w-6 h-6 rounded-full bg-teal-500 text-white text-xs font-bold align-middle">3</div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight text-gray-900">Buy groceries</h5>
        </div>
        <div class="ml-auto">
          <button class="text-sm font-bold leading-none px-4 py-2 rounded-full text-red-700 bg-red-200 hover:bg-red-500 hover:text-red-800">
            Mark as done
          </button>
        </div>
      </li>
    </ul>

